.table{
  font-size: 14px;
}

tr{
  border-radius: 10px;
}

.form-control {
  border-radius: 7px 0px 0px 7px;
  font-size: 14px;
  height: 33px;
}




.form-select{
  font-size: 14px;
  height: 33px;
  border-radius: 0px 7px 7px 0px;
  width: 100px;
}
