<div class="container mt-3">
  <nav class="navbar">
      <a class="navbar-brand" >Dashboard</a>
      <div class="d-flex" role="search">
        <input class="form-control" type="text" placeholder="Search" [ngModel]="filterTerm" (ngModelChange)="changeValue($event)">
        <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search "  ></i></button>
      </div>
  </nav>
  <h4 *ngIf="taskList == ''">No Task Avaliable</h4>
  <table   class="table p-2 table-striped"  >
    <thead>
      <tr>
        <!-- <th scope="col">Sr No.</th> -->
        <th scope="col">Task Description</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Assigned By</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
       <tr class="table-row" *ngFor="let item of taskList; let i=index">
        <th scope="row">{{i +1}}</th>
        <td>{{item.taskTitle}}</td>
        <td>{{item.assignedTo}}</td>
        <td>{{item.assignedFrom}}</td>
        <td>{{item.status}}</td>
        <td>{{item.priority}}</td>
      </tr>
    </tbody>
  </table>
</div>
